
body{
    background: black;
    color: white;
    font-family: 'Montserrat';
}

.nsLookUp-little img{
    width: 400px;
    height: 100px;
}
.nsLookUp-big img{
    width: 400px;
    height: 300px;
}
.whois img{
    width: 459px;
    height: 272px;
}
